{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>
<div class="mb-3 mx-auto border-bottom">
    <span class="center">
        Tous les champs du formulaire sont obligatoire afin de mieux traiter les messages
    </span>
</div>
<form name="contact" class="contact-form width-normal" action="/merci/" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div class="form-group">
        <label class=" control-label" for="Nom">Votre nom :</label>
        <input id="contact-form-name" name="Nom" type="text" placeholder="David Tenant" class="form-control input-md" required>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class=" control-label" for="Email">Votre email :</label>
        <input id="contact-form-email" name="Email" type="email" placeholder="doctor@who.cool" class="form-control input-md" required>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class=" control-label" for="Sujet">Objet du message :</label>
        <input id="contact-form-subject" name="Sujet" type="text" placeholder="Info à faire passer" class="form-control input-md" required>
    </div>
    <!-- Textarea -->
    <div class="form-group">
        <label class=" control-label" for="Message">Votre agréable message : (min 5 caractères)</label>
        <textarea class="form-control" id="contact-form-message" name="Message" placeholder="T'es trop cool j'adore ce que tu fais !" rows="8" required minlength="5"></textarea>
    </div>
    <!-- Button -->
    <div class="form-group">
        <button class="btn btn-outline-secondary" type="submit" value="Submit" id="Form-submit">Envoyer le message</button>
    </div>
</form>

{{- end  }}
